.topDiv{
    display:flex;
    justify-content:space-between;
}
.btn{
    background-color:#488cfa;
    color:white;
    border:none;
    padding:10px;
    border-radius:7px;
    font-size:1rem;
    cursor:pointer;
    
}

.btn:hover{
    background-color:#245ebd
}